{% extends 'base.html.twig' %}

{% block title %}Hello GuestController!{% endblock %}

{% block body %}
    <div class="container-large my-5">
        <h1 class="text-center">Bekijk onze sporten op de <a href="{{ path('guest_trainingOverzicht') }}">Sportpagina</a>.</h1>
    </div>
{% endblock %}
